.reporting-section-title {
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.reporting-item {
    font-weight: normal;
    text-align: center;
}

.reporting-item-title {
    font-weight: 400;
    font-size: 30px;
}

.reporting-value {
    font-weight: 400;
    font-size: 40px;
}

.reporting-donut {
    margin: auto;
    max-width: 400px;
    text-align: center;
}

