.reporting-item {
    font-weight: normal;
    text-align: center;
}

.reporting-item-title {
    font-weight: bolder;
    font-size: -webkit--large;
    font-size: large;
}

.reporting-value {
    font-weight: bolder;
    font-size: -webkit-xxx-large;
    font-size: xx-large;
}


