.container-track,
.container-report {
    height: 60vh;
    text-align: center;

    p {
        font-size: 24px;
    }

    .title {
        padding: 7rem 0;
        font-size: 4.8rem;
        font-weight: 200;
    }
}

.container-track {
    background-color: $blue;
    color: $off-white;

    .track-link {
        text-decoration: none;
        color: $off-white;
    }

    button {
        background-color: $off-white;
        border-color: $yellow;
        color: $blue;
        font-size: 18px;
        font-weight: 300;
    }

    button:hover {
        background-color: $yellow;
        border-color: $off-white;
    }
}

.container-report {
    background-color: $off-white;

    .title {
        color: $blue;
    }
}

.actions-holder {

}