.container-track,
.container-report {
    height: auto;
    text-align: center;
    padding-bottom: 6rem;

    p {
        font-size: 24px;
    }

    .title {
        padding: 6rem 0;
        font-size: 4.8rem;
        font-weight: 200;
    }
}

.container-track {
    background-color: $blue;
    color: $off-white;

    .track-link {
        text-decoration: none;
        color: $off-white;
    }

    button {
        background-color: $off-white;
        border-color: $yellow;
        color: $blue;
        font-size: 18px;
        font-weight: 300;
    }

    button:hover {
        background-color: $yellow;
        border-color: $off-white;
    }
}

.container-report {
    background-color: $off-white;

    .title {
        color: $blue;
        padding-bottom: 0;
    }
}

.rows-container {
    .oi {
        width: 20px;
        height: 20px;
        color: white;
        font-size: 20px;
    }

    .counter {
        button {
            background-color: $blue;
            border: none;
        }

        input {
            width: 40px;
            text-align: center;
            margin: 0 5px;

            &::placeholder {
                color: black;
            }
        }
    }

    .student-row {
        margin-bottom: 20px;
        min-height: 42px;

        .btn-danger {
            background-color: $red;
        }
    }

    .body-comp {
        input {
            width: 100px;
            text-align: center;
        }
    }

    .student-headers .col {
        text-align: center;
    }

    .student-headers {
        display: none;
    }

    .student-label {
        display: inline-block;
    }

    @media (min-width: 992px) {
        .student-headers {
            display: block;
        }

        .student-label {
            display: none;
        }

        .body-comp {
            input {
                width: 50px;
            }
        }
    }
}

.time {
    margin-bottom: 30px;

    h2 {
        font-size: 40px;
        font-weight: 400;
    }
}

.final-time {
    font-size: 22px;
}

.start-button-holder {
    margin-bottom: 30px;
}

.submit-holder {
    margin-top: 40px;

    .btn-primary {
        background-color: $yellow;
    }
}