.container-track,
.container-report {
    min-height: 60vh;
    text-align: center;

    p {
        font-size: 24px;
    }

    .title {
        padding: 7rem 0;
        font-size: 4.8rem;
        font-weight: 200;
    }
}

.container-track {
    background-color: $blue;
    color: $off-white;

    .track-link {
        text-decoration: none;
        color: $off-white;
    }

    button {
        background-color: $off-white;
        border-color: $yellow;
        color: $blue;
        font-size: 18px;
        font-weight: 300;
    }

    button:hover {
        background-color: $yellow;
        border-color: $off-white;
    }
}

.container-report {
    background-color: $off-white;
    height: unset;

    .title {
        color: $blue;
        padding: 0;
    }
}

.rows-container {
    .oi {
        width: 20px;
        height: 20px;
        color: white;
        font-size: 20px;
    }

    .counter {
        button {
            background-color: $blue;
            border: none;
        }

        input {
            width: 40px;
            text-align: center;
            margin: 0 5px;

            &::placeholder {
                color: black;
            }
        }
    }

    .student-row {
        margin-bottom: 10px;
    }
}

.submit-holder {
    margin-top: 40px;

    .btn-primary {
        background-color: $yellow;
    }
}