@import './node_modules/react-vis/dist/style';

$blue: #0A1F38;
$off-white: #F8F9FA;
$yellow: #cbb677;
$red: #e01a31;

.oi {
    width: 40px;
    height: 40px;
    color: white;
    font-size: 40px;
}

@import './header';
@import './track';
@import './report';
@import './inputSections';
@import './footer';

@import './reporting.scss';
